<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>메모</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[-1]}}");
    </script>
    {% endif %}
    {% endwith %}
    <!--modal-->

    <!--background wrap-->
    <div class="bg">
        <!--titlebar-->
        <div class="titlebar">
            <p class="titlestring">팀메모</p>
        </div>
        <!--titlebarbutton-->
        <div class="barbuttoncontainer">
            <!--        <input class=barbutton type="button" value="< 이전달">-->
            <!--        <input class=barbutton type="button" value="다음달 >">-->
        </div>
        <!--navbar-->
        <div class="navbarbase">
            <p class="versiontag">ver.ALPHA</p>
            <a href="#">
                <img class="homelogo" src="/static/teamlogo.png" width=187px height=120px alt="" />
            </a>

            <!--menu starts here-->

            <div class="navplaceholder">
                <p class="welcome_top">{{session['username']}} 님 반갑습니다.</p>
                <div class="membersearch_container">
                    <p><img class="menuicon" src="/static/search_icon.png">팀원 검색</p>
                <hr>

                    <form action="/serch" method="POST">
                        <input name=name class="membersearch" type="text" placeholder="추가할 팀원 이름을 검색">
                        <input type="submit" value="추가">
                    </form>
                <hr>

                    {% if team_mate|length == 0 %}
                    <a class="mate_name" href="#">{{session['username']}} {{session['phone']}}</a>
                    {% endif %}
                    {% if team_mate|length > 0 %}
                    {% for i in team_mate %}
                    <a class="mate_name" href="#">{{i.username}} {{i.phone}}</a>
                        <a class="exit" href="{{url_for('del_member', name=i.username)}}">
{#                            <img  src="/static/exit_icon.png" width=187px height=120px alt="" />#}
                        > TEAM EXIT
                        </a>
                    {% endfor %}
                    {% endif %}


                </div>

                <a class="mainmenu" href="{{url_for('main')}}">
                    <img class="menuicon" src="/static/teamnote_icon.png">TEAM SCHEDULE</a>
                <a class="mainmenu" href="{{url_for('login')}}">
                    <img class="menuicon" src="{{ url_for('static', filename='logout_icon.png') }}">로그아웃</a>



            </div>



        </div>


        <div class="pagecontentswrap">
            <div class="newmemo_container">
                <form action="/memo" method='POST'>
                    <input class="new_memo" name="memo" type="text" placeholder="전달할 메모 내용을 입력하세요."><input
                        type="submit">
                </form>
            </div>
            <hr>
            <div class="fixed_memo_container">
                <h3>고정된 메모</h3>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% if ad_datas|length > 0 %}
                    {% for data in ad_datas %}
                    <div class="col">
                        <div class="card-columns">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{data.username}}</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">{{data.pubdata}}</h6>
                                    <p class="card-text">{{data.memo}}</p>
                                    <a href="{{url_for('fix', name=data.username, ad=data.ad, id=data.id)}}"
                                        class="card-link">고정 해제</a>
                                    <a href="{{url_for('delete' ,name=data.username, id=data.id)}}"
                                        class="card-link">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="memo_container">
                <h3>작성된 메모</h3>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% if datas|length >0 %}
                    {% for data in datas %}
                    <div class="col">
                        <div class="card-columns">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{data.username}}</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">{{data.pubdate}}</h6>
                                    <p class="card-text">{{data.memo}}</p>
                                    <a href="{{url_for('fix', name=data.username, ad=data.ad, id=data.id)}}"
                                        class="card-link">고정</a>
                                    <a href="{{url_for('delete' ,name=data.username, id=data.id)}}"
                                        class="card-link">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>